* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-top {
    background-image: url(../img/fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-shadow: 0 4px 4px -2px #989898;
    -moz-box-shadow: 0 4px 4px -2px #989898;
    -webkit-box-shadow: 0 4px 4px -2px #989898;
}

button .navbar-toggler, .navbar-toggler-icon {
    background-color: transparent;
    border: none;
    color: #8C1196;
}

button:hover {
    cursor: pointer;
    background-color: #8C1196;
    color: #fff;
    border-radius: 5px;
}

#mynav {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    text-decoration: none;
    margin-right: 5%;
    line-height: 30px;
    font-weight: bold;
}

#mynav .navbar-nav li a:hover {
    color: #8C1196;
}

.navbar-brand img {
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
    margin-left: 40%;
}

.navbar-toggler {
    margin-right: 5%;
}

.inicio {
    margin-top: 170px;
    width: 100%;
    height: 600px;
    background-image: url(../img/psicoterapia-terapia-online.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio h1 {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    font-size: 75px;
    font-weight: bold;
    text-align: left;
    padding-top: 100px;
    padding-left: 70px;
}

.inicio h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #111;
    text-align: left;
    padding-left: 70px;
    font-weight: bold;
}

.inicio p {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    width: 700px;
    padding-left: 70px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.inicio #agendarsessao {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-image: linear-gradient(#A30ECF,#8C1196, #491957);
    font-weight: bold;
    text-decoration: none;
    padding: 9px;
    border-radius: 20px;
    margin-left: 70px;
}

.inicio #agendarsessao:hover {
    background-image: linear-gradient(#111, #111, #111);
    border: none;
}

.quemsoueu {
    display: flex;
    flex-wrap: row;
    width: 100%;
    height: 550px;
    margin-top: 90px;
    margin-bottom: 80px;
}

.quemsoueu h1 {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    margin-left: 30%;
    color: #8C1196;
    font-weight: bold;
}

.texto-quemsoueu {
    width: 50%;
}

.texto-quemsoueu h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 30%;
    font-weight: bold;
}

.texto-quemsoueu p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 500px;
    margin-top: 20px;
    margin-left: 30%;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 1%;
}

.texto-quemsoueu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(#A30ECF,#8C1196, #491957);
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 30%;
}

.texto-quemsoueu #falecomigo:hover {
    background-image: linear-gradient(#111, #111, #111);
    border: none;
    color: #fff;
}

.foto {
    width: 50%;
}

.quemsoueu img {
    width: 580px;
    height: 500px;
}

.psicoterapia {
    background-image: linear-gradient(#A30ECF,#8C1196, #491957);
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.psicoterapia h1 {
    font-family: 'Marck Script', cursive;
    font-size: 35px;
    color: #fff;
    text-align: center;
    padding-top: 4%;
    margin-bottom: 3%;
    font-weight: bold;
}    

.texto-servicos {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
}

.sobrepsicoterapia {
    background-color: rgba(226, 226, 226, 0.2);
    width: 45%;
    height: 280px;
    border-radius: 20px;
}

.sobrepsicoterapia h5 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
}

.sobrepsicoterapia p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #fff;
    width: 510px;
    padding-left: 70px;
    line-height: 20px;
}

.online {
    margin-left: 2%;
    background-color: rgba(226, 226, 226, 0.2);
    width: 45%;
    height: 280px;
    border-radius: 20px;
}

.online h5 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-top: 4%;
    text-align: center;
    margin-bottom: 3%;
}

.online ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #fff;
    width: 510px;
    padding-left: 70px;
    padding-bottom: 5%;
    line-height: 25px;
}

.contatos {
    margin-top: 90px;
    margin-left: 10%;
    margin-bottom: 90px;
}

.contatos h1 {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    color: #8C1196;
    margin-bottom: 3%;
    font-weight: bold;
}

.contato1, .contato2, .contato3,.contato4 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.contato1 #tel {
    width: 29px;
    margin-left: 5px;
    margin-right: 7px;
}

.contato1 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.contato2 #email {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.contato2 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.contato3 #horario {
    width: 41px;
    height: 34px;
}

.contato3 p {
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    font-size: 15px;
    margin-top: 8px;
}

.contato4 #local {
    width: 20px;
    margin-left: 10px;
    margin-right: 7px;
}

.contato4 a {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.contato1 a:hover {
    color: #8C1196;
} 

.contato2 a:hover {
   color: #8C1196;
}

.contato4 a:hover {
    color: #8C1196;
 }

.cvd {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.cvd img {
    width: 3%;
    height: 2%;
}

.cvd p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #111;
    text-align: justify;
    line-height: 25px;
    margin-left: 1%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cvd a {
    text-decoration: none;
    color: #8C1196;
    font-weight: bold;
}

.cvd a:hover {
    color: #491957;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    background-color: #491957;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.logobranca {
    width: 20%;
}

footer .logobranca img {
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 30%;
}

footer .menu-footer {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    width: 25%;
    padding-top: 25px;
}

.menu-footer h5 {
    font-weight: bold;
    margin-left: 30px;
    padding-top: 10px;
    text-align: left;
}

.menu-footer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 30px;
    text-align: left;
    margin-left: 30px;
}

.menu-footer a:hover {
    color: #111;
}

footer .des-final {
    width: 50%;
    margin-right: 5%;
}

footer h6 {
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: right;
    margin-top: 15%;
    margin-bottom: 20px;
}


@media screen and (min-width: 1200px) and (max-width: 1350px) {


    .texto-quemsoueu p {
        width: 450px;
    }
        
    .sobrepsicoterapia, .online {
        width: 45%;
        height: 330px;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 435px;
        padding-left: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {

    .quemsoueu {
        flex-direction: column;
    }

    .texto-quemsoueu p {
        width: 800px;
    }

    .foto {
        margin-top: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .quemsoueu img {
        width: 580px;
        height: 500px;
    }

    .psicoterapia {
        margin-top: 35%;
    }

    .sobrepsicoterapia, .online {
        width: 45%;
        height: 330px;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 360px;
        padding-left: 20px;
    }
        
}

@media screen and (min-width: 1000px) and (max-width: 1023px) {

    .quemsoueu {
        flex-direction: column;
    }

    .quemsoueu h1, .texto-quemsoueu h5, h6, .texto-quemsoueu p, .texto-quemsoueu a {
        margin-left: 10%;;
    }
    
    .texto-quemsoueu p {
        width: 850px;
    }

    .foto {
        margin-top: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .quemsoueu img {
        width: 580px;
        height: 500px;
    }

    .psicoterapia {
        margin-top: 40%;
    }

    .sobrepsicoterapia, .online {
        width: 45%;
        height: 330px;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 360px;
        padding-left: 20px;
    }

    .menu-footer h5, .menu-footer a {
        margin-left: 80px;
    }
    
        
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    .inicio h1, .inicio h2, .inicio p {
        padding-left: 10px;
    }

    .inicio #agendarsessao {
        margin-left: 10px;
    }

    .quemsoueu {
        flex-direction: column;
    }

    .quemsoueu h1, .texto-quemsoueu h5, h6, .texto-quemsoueu p, .texto-quemsoueu a {
        margin-left: 5%;;
    }
    
    .texto-quemsoueu p {
        width: 700px;
        margin-left: 0px;
    }

    .foto {
        margin-top: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .quemsoueu img {
        width: 580px;
        height: 500px;
    }

    .psicoterapia {
        margin-top: 60%;
        width: 100%;
        height: 700px;
        border-radius: 0;
    }

    .texto-servicos {
        flex-direction: column;
    }

    .sobrepsicoterapia, .online {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        height: 250px;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-footer h5, .menu-footer a {
        margin-left: 80px;
    }

    footer h6 {
        margin-top: 30%;
    }
    
        
}

@media screen and (min-width:450px) and (max-width: 767px) {

    .navbar-brand img {
        margin-left: 5%;
    }

    .inicio h1 {
        font-size: 40px;
    }

    .inicio h2 {
        font-size: 25px;
        margin-bottom: 10%;
    }

    .inicio p {
        margin-bottom: 10%;
        text-align: justify;
        font-size: 17px;
        width: 350px;
    }

    .inicio h1, .inicio h2, .inicio p {
        padding-left: 10px;
    }

    .inicio #agendarsessao {
        margin-left: 10px;
    }

    .quemsoueu {
        flex-direction: column;
    }

    .quemsoueu h1, .texto-quemsoueu h5, h6, .texto-quemsoueu p, .texto-quemsoueu a {
        margin-left: 5%;;
    }
    
    .texto-quemsoueu p {
        width: 350px;
    }

    .foto {
        margin-top: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .quemsoueu img {
        width: 480px;
        height: 400px;
    }

    .psicoterapia {
        margin-top: 100%;
        width: 100%;
        height: 900px;
        border-radius: 0;
    }

    .texto-servicos {
        flex-direction: column;
        margin-left: 0px;
    }

    .sobrepsicoterapia, .online {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        height: 360px;
    }

    .sobrepsicoterapia h5, .online h5 {
        margin-bottom: 10%;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cvd {
        margin-top: 10%;
    }

    .cvd img {
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 10%;
    }

    .cvd p {
        width: 300px;
        text-align: left;
        margin-left: 1%;
        font-size: 15px;
    }

    footer {
        height: 400px;
    }

    footer .menu-footer {
        width: 45%;
    }

    .menu-footer h5, .menu-footer a {
        margin-left: 90%;
    }

    footer h6 {
        width: 90%;
        margin-left: 60%;
        margin-top: 10%;
        text-align: center;
    }
    
        
}

@media screen and (min-width:400px) and (max-width: 449px) {

    .navbar-brand img {
        margin-left: 0%;
    }

    .inicio h1 {
        font-size: 40px;
    }

    .inicio h2 {
        font-size: 20px;
        margin-bottom: 10%;
    }

    .inicio p {
        margin-bottom: 10%;
        text-align: justify;
        font-size: 17px;
        width: 350px;
    }

    .inicio h1, .inicio h2, .inicio p {
        padding-left: 10px;
    }

    .inicio #agendarsessao {
        margin-left: 10px;
    }

    .quemsoueu {
        flex-direction: column;
    }

    .quemsoueu h1, .texto-quemsoueu h5, h6, .texto-quemsoueu p, .texto-quemsoueu a {
        margin-left: 5%;;
    }
    
    .texto-quemsoueu p {
        width: 350px;
    }

    .foto {
        margin-top: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .quemsoueu img {
        width: 340px;
        height: 300px;
    }

    .psicoterapia {
        margin-top: 100%;
        width: 100%;
        height: 950px;
        border-radius: 0;
    }

    .texto-servicos {
        flex-direction: column;
        margin-left: 0px;
    }

    .sobrepsicoterapia, .online {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        height: 380px;
    }

    .sobrepsicoterapia h5, .online h5 {
        margin-bottom: 10%;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cvd {
        margin-top: 10%;
    }

    .cvd img {
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 10%;
    }

    .cvd p {
        width: 200px;
        text-align: left;
        margin-left: 1%;
        font-size: 15px;
    }

    footer {
        flex-direction: column;
        height: 550px;
        margin-top: 20%;
    }

    footer .menu-footer {
        width: 45%;
    }

    .menu-footer h5, .menu-footer a {
        margin-left: 30%;
    }

    footer .des-final h6 {
        width: 100%;
        text-align: right;
        margin-left: 80%;
        margin-top: 20%;
    }
         
}

@media screen and (max-width: 399px) {

    .navbar-brand img {
        margin-left: 0%;
    }

    .inicio h1 {
        font-size: 40px;
    }

    .inicio h2 {
        font-size: 20px;
        margin-bottom: 10%;
    }

    .inicio p {
        margin-bottom: 10%;
        text-align: justify;
        font-size: 17px;
        width: 280px;
    }

    .inicio h1, .inicio h2, .inicio p {
        padding-left: 10px;
    }

    .inicio #agendarsessao {
        margin-left: 10px;
    }

    .quemsoueu {
        flex-direction: column;
    }

    .quemsoueu h1, .texto-quemsoueu h5, h6, .texto-quemsoueu p, .texto-quemsoueu a {
        margin-left: 5%;;
    }
    
    .texto-quemsoueu p {
        width: 280px;
        text-align: left;
    }

    .foto {
        margin-top: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .quemsoueu img {
        width: 340px;
        height: 300px;
    }

    .psicoterapia {
        margin-top: 165%;
        width: 100%;
        height: 1000px;
        border-radius: 0;
    }

    .texto-servicos {
        flex-direction: column;
        margin-left: 0px;
    }

    .sobrepsicoterapia, .online {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        height: 430px;
    }

    .sobrepsicoterapia h5, .online h5 {
        margin-bottom: 10%;
    }
    
    .sobrepsicoterapia p, .online ul {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cvd {
        margin-top: 10%;
    }

    .cvd img {
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 10%;
    }

    .cvd p {
        width: 200px;
        text-align: left;
        margin-left: 1%;
        font-size: 15px;
    }

    footer {
        flex-direction: column;
        height: 600px;
    }

    footer .menu-footer {
        width: 45%;
    }

    .menu-footer h5, .menu-footer a {
        margin-left: 30%;
    }

    footer .des-final h6 {
        width: 100%;
        text-align: right;
        margin-left: 80%;
        margin-top: 20%;
    }
    
        
}






    